body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


h1 {
    text-align: center;
    margin-top: 0;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.correct {
    background-color: #28a745;
}

button.incorrect {
    background-color: #dc3545;
}

button:hover {
    background-color: #0056b3;
}

#question-container {
    display: none;
}

#question {
    margin-top: 0;
}

.choice {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ab27b0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice.correct {
    background-color: #28a745;
}

.choice.incorrect {
    background-color: #dc3545;
}

.choice.correct::after,
.choice.incorrect::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border-radius: 50%;
}

.choice.correct::after {
    background-color: #28a745;
}

.choice.incorrect::after {
    background-color: #dc3545;
}

.choice:hover {
    background-color: #0056b3;
}

#end-container {
    display: none;
    text-align: center;
}

#score-form label {
    font-weight: bold;
}

#score-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

#score-form button[type="submit"] {
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
}

#scores2{
    display: none;
}
/* body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

#quiz-container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 0;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.correct {
  background-color: #28a745;
}

button.incorrect {
  background-color: #dc3545;
}

button:hover {
  background-color: #0056b3;
}

#question-container {
  display: none;
}

#question {
  margin-top: 0;
}

.choice {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.choice.correct {
  background-color: #28a745;
}

.choice.incorrect {
  background-color: #dc3545;
}

.choice:hover {
  background-color: #0056b3;
}

#end-container {
  display: none;
  text-align: center;
}

#score-form label {
  font-weight: bold;
}

#score-form input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#score-form button[type="submit"] {
  width: auto;
  margin-top: 10px;
  padding: 10px 20px;
} */