body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  #quiz-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #question-container {
    display: none;
  }
  
  #question {
    margin-top: 0;
  }
  
  .choice {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .choice:hover {
    background-color: #0056b3;
  }
  
  #end-container {
    display: none;
    text-align: center;
  }
  
  #score-form label {
    font-weight: bold;
  }
  
  #score-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  #score-form button[type="submit"] {
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
  }
  
  
  
  